$em-clr-primary: #f3741c;
$em-clr-primary-75: #eb873f;
$em-clr-primary-50: #edaf77;
$em-clr-primary-25: #ebc2a4;

$em-clr-white: #ffffff;
$em-clr-white-75: #ffffffbf;
$em-clr-white-50: #f2f2f2;
$em-clr-white-25: #ffffff40;

$em-clr-black: #000000;
$em-clr-black-75: #000000bf;
$em-clr-black-50: #00000080;
$em-clr-black-25: #00000040;
$em-clr-black-15: #00000026;

$em-clr-transparent: rgba(0, 0, 0, 0);
$em-clr-gray: #33312e;
$em-clr-light-gray: #474540;
$em-clr-red: #cc0000;

