// settings
@import './settings/settings.color';
@import './settings/settings.fonts';
@import './settings/settings.sizes';

// generics
@import './generics/generics.page';

// utilities

// features
@import './features/feature.shop';

// components
@import './components/components.button';
@import './components/components.cover';
@import './components/components.header';
@import './components/components.drawer';
@import './components/components.footer';
@import './components/components.sticky';

// trumps
@import './trumps/trumps.layout';

:export {
  primaryColor: $em-clr-primary;
  secondaryColor: $em-clr-white;
  errorColor: $em-clr-red;
  whiteColor: $em-clr-white;
  greenColor: $em-clr-green;
}
