.em-cover {
  display: grid;
  gap: 24px;
  grid-template-areas: 'image details';
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto;

  @media screen and (max-width: $em-sizes-sm) {
    display: block;
  }

  &__image {
    grid-area: image;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
    position: relative;
    z-index: -1;

    @media screen and (max-width: $em-sizes-sm) {
      height: 30vh;
      border-radius: 0px;
    }

    &__button {
      position: absolute;
      right: 15px;
      bottom: 15px;
    }
  }

  &__details {
    grid-area: details;
    background-size: cover;
    width: 100%;

    @media screen and (max-width: $em-sizes-sm) {
      display: block;
      padding: 20px;
    }

    &__extra {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media screen and (max-width: $em-sizes-lg) {
        align-items: flex-start;
      }
    }
  }
}
