* {
  font-family: $em-fonts-plex;
}

a {
  color: $em-clr-white;
  text-decoration: none;

  &:hover {
    color: $em-clr-primary;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

ul {
  list-style: none;
  padding-left: 0;
}
